/* Features */
.features{
    margin-top: 135px;
    padding: 65px 0;
}

.features .body{
    display: flex;
    justify-content: space-between;
}

.features .images{
    display:flex;
    gap: 0 30px;
}
.features .images img{
    object-fit: cover;
    width: 270px;
    height: 404px;
    border-radius: 16px;
}
.features .images img:first-child{
    margin-top: 34px;
}

.features .content{
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .desc{
    color: #5F5B53;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 16px;
}

.features .content .cta-btn{
    min-width: 137px;
    margin-top: 32px;
    color: #fff;
    background: #FFB900;
}

/* 2nd feature */
.features-2nd{
    margin-top: 70px;
}
.features-2nd .body{
    flex-direction: row-reverse;
}
.features-2nd .content{
    width: 49%;
}
.features-2nd .images img{
    width: 470px;
    height: 440px;
}