/* hero */
@use "../base/variables";
.hero{
    padding: 56px 0 65px;
    background:#FFFCF4;

    & .body{
        display: flex;
    }
    /* Hero left */
    & .media-block{
        width: 48%;
        position: relative;
    }
    
    & .media-block .img{
        width: 470px;
        height: 685px;
        object-fit: cover;
        border-radius: 20px;
        vertical-align: bottom;
    }
    
    &-summary{
        position: absolute;
        right: 0;
        bottom: 48px;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
        width: 270px;
        padding: 24px;
    }
    &-summary .item{
        display: flex;
        align-items: center;
    }
    &-summary .item + .item {
        margin-top: 22px;
    }
    &-summary .item:nth-of-type(2) .icon,
    &-summary .item:nth-of-type(3) .icon{
        background: #FCEFFF;  
    }
    &-summary .icon{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff9e8;
    }
    &-summary .info{
        margin-left: 16px;
    }
    
    &-summary .label{
        color: #5F5B53;
        font-size: 1.4rem;
        line-height: 1.85;
        font-weight: 400;
    }
    
    &-summary .title{
        color: #171100;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }
    
    /* hero right */
    & .content-block{
        width: 52%;
        padding: 64px 0 0 130px;
    }
    
    
    & .desc{
        margin-top: 22px;
        color: #5F5B53;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67; 
    }
    
    & .cta-group{
        margin: 38px 0 48px;
        display: flex;
        align-items: center;
    }
    &-cta{
        min-width: 180px;
        background-color: variables.$primary-color;
        line-height: 64px;
    }
    .cta-group .icon{
        margin: 12px 28px 0;
    }
    
    & .watch-video{
        display: flex;
        align-items: center;
        border: none;
        background:transparent;
        margin-left: 28px;
        cursor: pointer;
    }
    
    & .watch-video .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background:#fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
    }
    
    & .watch-video span{
        color: #171100;
        font-size: 1.8rem;
        font-weight: 600;
        margin-left: 14px;
        // font-language-override: 1.67;
    }
    & .stats{
        margin-left: -28px;
        margin-top: 8px;
    }
    & .stats strong{
        padding-right: 8px;
        padding-left: 28px;
        color: #171100;
        font-family: variables.$heading-font;
        font-size: 4.4rem;
        font-weight: 700;
        line-height: 1.23;
    }
}

